<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Available Products</h1>

                <p>
                    <a routerLink="/cart" class="btn btn-primary my-2">View Cart</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @for (item of products; track $index) {
                <div class="col">
                    <app-product [product]="item"></app-product>
                </div>
                }
            </div>
        </div>
    </div>

</main>