<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
        <a routerLink="/" class="d-inline-flex text-primary text-decoration-none">
            <p class="mb-0 ms-md-2"> Angular Practical</p>
        </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/cart" class="nav-link px-2 ">Cart</a></li>
        <li><a routerLink="/onpush" class="nav-link px-2">Change Detection</a></li>
    </ul>

    <div class="col-md-3 text-end me-md-2">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
    </div>
</header>